![image-20211208062754413](../../../../.mdnote/assets/image-20211208062754413.png) 

# Formal program verification

![image-20211208062952562](../../../../.mdnote/assets/image-20211208062952562.png)

![image-20211208063053867](../../../../.mdnote/assets/image-20211208063053867.png)

![image-20211208063119963](../../../../.mdnote/assets/image-20211208063119963.png)

# Why formal verification?

![image-20211208063144263](../../../../.mdnote/assets/image-20211208063144263.png)

# Framework for formal verification

![image-20211208063339959](../../../../.mdnote/assets/image-20211208063339959.png)

# Programming paradigms

![image-20211208063444951](../../../../.mdnote/assets/image-20211208063444951.png)

# Programs

![image-20211208063527340](../../../../.mdnote/assets/image-20211208063527340.png)![image-20211208063547479](../../../../.mdnote/assets/image-20211208063547479.png)

# Examples

![image-20211208063710193](../../../../.mdnote/assets/image-20211208063710193.png)![image-20211208063724924](../../../../.mdnote/assets/image-20211208063724924.png)

# Hoare Triples

![image-20211208063808408](../../../../.mdnote/assets/image-20211208063808408.png)

## Syntax of Hoare triples

![image-20211208063844772](../../../../.mdnote/assets/image-20211208063844772.png)

## Specification of a program

![image-20211208064009733](../../../../.mdnote/assets/image-20211208064009733.png)![image-20211208064129101](../../../../.mdnote/assets/image-20211208064129101.png)![image-20211208064148712](../../../../.mdnote/assets/image-20211208064148712.png)

## Partial correctness

![image-20211208064724800](../../../../.mdnote/assets/image-20211208064724800.png)

### Examples

![image-20211208064744964](../../../../.mdnote/assets/image-20211208064744964.png)

## Total correctness

![image-20211208064843980](../../../../.mdnote/assets/image-20211208064843980.png)

## Examples

![image-20211208064920769](../../../../.mdnote/assets/image-20211208064920769.png)![image-20211208064931420](../../../../.mdnote/assets/image-20211208064931420.png)![image-20211208065003341](../../../../.mdnote/assets/image-20211208065003341.png)![image-20211208065019021](../../../../.mdnote/assets/image-20211208065019021.png)

![image-20211208065232838](../../../../.mdnote/assets/image-20211208065232838.png)![image-20211208065246713](../../../../.mdnote/assets/image-20211208065246713.png)

## Expressing pre- and postconditions in logic

![image-20211208065334264](../../../../.mdnote/assets/image-20211208065334264.png)![image-20211208065422048](../../../../.mdnote/assets/image-20211208065422048.png)

# Proving correctness

![image-20211208065502950](../../../../.mdnote/assets/image-20211208065502950.png)

## Proving partial correctness

![image-20211208065629657](../../../../.mdnote/assets/image-20211208065629657.png)![image-20211208065701962](../../../../.mdnote/assets/image-20211208065701962.png)

### Proof Template

![image-20211208065723417](../../../../.mdnote/assets/image-20211208065723417.png)

### Logical Variables

![image-20211208065823109](../../../../.mdnote/assets/image-20211208065823109.png)

### Inference rule for assignment

![image-20211208070016266](../../../../.mdnote/assets/image-20211208070016266.png)

### Assignment: Example

![image-20211208070130943](../../../../.mdnote/assets/image-20211208070130943.png)![image-20211208070311282](../../../../.mdnote/assets/image-20211208070311282.png)![image-20211208070650938](../../../../.mdnote/assets/image-20211208070650938.png)

![image-20211208070951851](../../../../.mdnote/assets/image-20211208070951851.png)

### Inference rules about implications

![image-20211208071200144](../../../../.mdnote/assets/image-20211208071200144.png)![image-20211208071451470](../../../../.mdnote/assets/image-20211208071451470.png)![image-20211208071612615](../../../../.mdnote/assets/image-20211208071612615.png)

### Inference rule for instruction composition

![image-20211208071626259](../../../../.mdnote/assets/image-20211208071626259.png)

### Proof format: Annotated programs

![image-20211208071807141](../../../../.mdnote/assets/image-20211208071807141.png)![image-20211208071816852](../../../../.mdnote/assets/image-20211208071816852.png)![image-20211208071919952](../../../../.mdnote/assets/image-20211208071919952.png)![image-20211208071931569](../../../../.mdnote/assets/image-20211208071931569.png)![image-20211208072022882](../../../../.mdnote/assets/image-20211208072022882.png)

